.label {
  display: flex;
  align-items: center;
  gap: var(--space2);
  cursor: pointer;
  user-select: none;
  font-size: var(--fontMd);
}

.checkbox {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid var(--border);
  border-radius: var(--radiusSm);
  background: white;
  cursor: pointer;
  display: grid;
  place-content: center;
  transition: all 0.2s;
}

.checkbox::before {
  content: "";
  width: 10px;
  height: 10px;
  transform: scale(0);
  transition: 0.2s transform ease-in-out;
  box-shadow: inset 1em 1em white;
  transform-origin: center;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  background-color: white;
}

.checkbox:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}

.checkbox:checked::before {
  transform: scale(1);
}

.checkbox:focus-visible {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}
